<% include ./partials/header %> <% include ./partials/nav %>

<main>
  <div class="container emp-profile">
    <% errors.forEach( error => { %>
    <div
      class="alert alert-danger alert-dismissible fade show mt-2"
      role="alert"
    >
      <%= error.message || error %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %> <% success.forEach( message => { %>
    <div
      class="alert alert-primary alert-dismissible fade show mt-2"
      role="alert"
    >
      <%= message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>

    <div class="row">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div>
          <button class="text-center mt-5 btn btn-dark" id="showUpload">
            Upload Profile Picture
            <i class="fas fa-chevron-up"></i>
          </button>
        </div>
        <div id="uploadForm" style="display: none;">
          <form
            class="d-flex"
            id="uploadForm"
            action="/users/avatar"
            method="POST"
            enctype="multipart/form-data"
          >
            <input class="btn" type="file" name="avatar" />
            <button class="btn btn-primary-outline" type="submit">
              <i class="fas fa-file-upload"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head pt-5 pr-5 pb-5">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="false"
              >
                About
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                Edit
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="notes-tab"
                data-toggle="tab"
                href="#notes"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                Notes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <% if (user.avatar) { %>
          <img
            class="img-thumbnail"
            src="data:image/png;base64,<%= user.avatar.toString('base64') %>"
          />

          
            <form
              class="align-self-end mr-5"
              action="/users/deleteAvatar?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-primary-outline">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          
          <% } else { %>
          <img class="img-thumbnail" src="/images/default-logo.png" />
          <% } %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-3">
                <label>Username</label>
              </div>
              <div class="col-md-9 border-left"><%= user.username %></div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Email</label>
              </div>
              <div class="col-md-9 border-left"><%= user.email %></div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <form class="form-signin" method="POST" action="/users?_method=PUT">
              <label for="inputName" class="">
                Username: <%= user.username %>
              </label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                value="<%= user.username %>"
                name="username"
              />

              <br />

              <button class="btn btn-lg btn-outline-dark" type="submit">
                Update Profile
              </button>
            </form>
            <form
              class="form-signin mt-5"
              method="POST"
              action="/users/updatePassword?_method=PUT"
            >
              <label for="inputEmail" class="mt-1">Old Password</label>
              <input
                type="text"
                id="inputOldPassword"
                class="form-control"
                placeholder="Old password"
                name="oldPassword"
                required
              />
              <label for="inputEmail2" class="mt-1">New Password</label>
              <input
                type="text"
                id="inputNewPassword"
                class="form-control"
                placeholder="New password"
                name="newPassword"
                required
              />
              <label for="inputEmail3" class="mt-1">Confirm Password</label>
              <input
                type="text"
                id="inputConfirmPassword"
                class="form-control"
                placeholder="Confirm password"
                name="confirmPassword"
                required
              />

              <br />

              <button class="btn btn-lg btn-outline-dark" type="submit">
                Update Password
              </button>
            </form>
          </div>
          <div
            class="tab-pane fade"
            id="notes"
            role="tabpanel"
            aria-labelledby="notes-tab"
          >
            <ul class="list-group">
              <% user.notes.forEach(note => { %>
              <li class="list-group-item">
                <a href="/notes/<%= note._id %>"><%= note.title %></a>
              </li>

              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footer %>
<script src="/javascripts/avatarUpload.js"></script>
