<% include ./partials/header %> <% include ./partials/nav %>

<main>
  <div class="container emp-profile" id="profile-section">
    <% errors.forEach( error => { %>
    <div
      class="alert alert-danger alert-dismissible fade show mt-2"
      role="alert"
    >
      <%= error.message || error %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %> <% success.forEach( message => { %>
    <div
      class="alert alert-primary alert-dismissible fade show mt-2"
      role="alert"
    >
      <%= message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <div class="profile-head pt-5 pr-5 pb-5">
          <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="notes-tab"
                data-toggle="tab"
                href="#notes"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                Notes
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="bookmarks-tab"
                data-toggle="tab"
                href="#bookmarks"
                role="tab"
                aria-controls="profile"
                aria-selected="true"
              >
                Bookmarks
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <% if (user.avatar) { %>
          <img
            class="img-thumbnail"
            src="data:image/png;base64,<%= user.avatar.toString('base64') %>"
          />

            <div class="row w-100 d-flex justify-content-around">
              <h5><%= user.username %></h5>
              <h5><i class="far fa-thumbs-up"></i><%= user.getLikes() %></h5>
            </div>


          <% } else { %>
          <img class="img-thumbnail" src="/images/default-logo.png" />
          <% } %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="notes"
            role="tabpanel"
            aria-labelledby="notes-tab"
          >
            <ul class="list-group">
              <% user.notes.forEach(note => { %>
              <li
                class="list-group-item d-flex justify-content-between p-0 align-items-center"
              >
                <a class="pl-2" href="/notes/<%= note._id %>">
                  <%= note.title %>
                </a>

                <div class="d-flex justify-content-end align-items-center">
                  <a href="/notes/<%= note.id %>/clone">
                    <i class="fas fa-copy ml-5"></i>
                  </a>
                  <a href="/notes/<%= note.id %>/edit">
                    <i class="fas fa-user-edit ml-3"></i>
                  </a>
                  <button
                    type="submit"
                    class="btn btn-primary-outline deleteNote"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <input id="noteID" type="hidden" value="<%= note.id %>" />
                </div>
              </li>

              <% }) %>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="bookmarks"
            role="tabpanel"
            aria-labelledby="bookmarks-tab"
          >
            <ul class="list-group">
              <% user.bookmarks.forEach(bookmark => { %>
              <li
                class="list-group-item d-flex justify-content-between p-2 align-items-center"
              >
                <a class="pl-2" href="/notes/<%= bookmark._id %>">
                  <%= bookmark.title %>
                </a>

                <div class="d-flex justify-content-end align-items-center">
                  <a href="/notes/<%= bookmark.id %>/clone">
                    <i class="fas fa-copy ml-5"></i>
                  </a>
                </div>
              </li>

              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footer %>
<script src="/javascripts/avatarUpload.js"></script>
<script src="/javascripts/profile.js"></script>
