<% include ../partials/header %> <% include ../partials/nav %>
<main class="container" id="notes-index-section">
  <div class="mt-2">
    <% success.forEach( message => { %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %> <% errors.forEach( error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error.message || error %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>
  </div>
  <div class="d-flex flex-wrap">
    <% notes.forEach(note => { %>
    <div class="card" style="width: 25%;">
      <div class="card-body d-flex flex-column justify-content-between">
        <a href="/notes/<%= note.id %>">
          <h5 class="card-title"><%= note.title %></h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= note.author.username %>
        </h6>

        <div class="d-flex align-items-center justify-content-between">
          <span>
            <i class="far fa-thumbs-up"></i>
            <%= note.likes.length %>
          </span>
          <% if (user.id === note.author.id) { %>
          <!--<form
            id="deleteBtn"
            action="/notes/<%= note.id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn">
              <i class="fas fa-trash"></i>
            </button>
          </form>-->
          <form
            id="deleteBtn"
            action="/notes/<%= note.id %>?_method=DELETE"
            method="POST"
          >
            <div
              class="modal fade"
              id="deleteNoteModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Delete Note Confirmation
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this note?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-danger">
                      Delete Note
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button
            type="button"
            class="btn btn-primary-outline p-0"
            data-toggle="modal"
            data-target="#deleteNoteModal"
          >
            <i class="fas fa-trash"></i>
          </button>
          <% } else { %> <% if (user.bookmarks.includes(note._id)) { %>
          <a href="/users/removeBookmark/<%= note._id %>" class="card-link">
            <i class="fas fa-unlink"></i>
          </a>

          <% } else { %>
          <a href="/users/bookmark/<%= note._id %>" class="card-link">
            <i class="fas fa-bookmark"></i>
          </a>
          <% } %> <% } %>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</main>
<% include ../partials/footer %>
