<% include ../partials/header %> <% include ../partials/nav %>

<div class="media mt-2">
  <% if (avatar) { %>
  <img
    src="data:image/png;base64,<%= avatar %>"
    class="align-self-start mr-3"
    height="100px"
  />
  <% } else { %>
  <img src="https://www.fillmurray.com/100/100" class="align-self-start mr-3" />
  <% } %>
  <div class="media-body">
    <h5 class="mt-0"><%= note.title %></h5>
    <h6 class="mt-1"><%= note.author.username %></h6>

    <p class="mt-4"><%= note.body %></p>
    <a href="/notes/like/<%= note.id %>"><i class="far fa-thumbs-up"></i></a>
    <%= note.likes.length %>
  </div>
</div>

<div class="col-8 offset-2">
  <ul class="list-unstyled">
    <% note.comments.forEach(comment => { %>
    <li class="media border mb-1">
      <img
        src="data:image/png;base64,<%= comment.author.avatar.toString('base64') %>"
        height="50px"
        class="mr-3"
        alt="profile img"
      />
      <div class="media-body d-flex">
        <div class="flex-grow-1">
          <p class="mt-1 mb-1"><u><%= comment.author.username %></u></p>
          <%= comment.body %>
        </div>
        <% if (comment.author.id === user.id) { %>
        <form
          action="/comments/<%= comment._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit" class="btn">
            <i class="fas fa-trash"></i>
          </button>
        </form>

        <% } %>
      </div>
    </li>

    <% }) %>
  </ul>
  <h5 class="border-bottom">Comments (<%= note.comments.length%>)</h5>
  <form action="/comments/<%= note._id %>" method="POST">
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea
        class="form-control"
        name="body"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Leave a comment..."
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
