<% include ../partials/header %> <% include ../partials/nav %>

<div class="container">
  <% errors.forEach( error => { %>
  <div class="alert alert-danger alert-dismissible fade show mt-0" role="alert">
    <%= error.message || error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% }) %> <% success.forEach( message => { %>
  <div
    class="alert alert-primary alert-dismissible fade show mt-0"
    role="alert"
  >
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% }) %>
  <div class="media mt-5" id="note-section">
    <% if (note.author.avatar) { %>
    <img
      src="data:image/png;base64,<%= note.author.avatar.toString('base64') %>"
      class="align-self-start mr-3 border"
      height="100px"
    />
    <% } else { %>
    <img src="/images/default-logo.png" class="align-self-start mr-3 border" />
    <% } %>
    <div class="media-body border p-2">
      <div class="d-flex justify-content-end">
        <a href="/notes/like/<%= note.id %>">
          <i class="far fa-thumbs-up"></i>
        </a>
        <div><%= note.likes.length %></div>
        <a class="ml-3" href="/notes/<%= note.id %>/clone">
          <i class="fas fa-copy"></i>
        </a>

        <% if (user.id === note.author.id) { %>
        <a href="/notes/<%= note.id %>/edit">
          <i class="fas fa-user-edit ml-3"></i>
        </a>
        <% } %>
      </div>
      <h5 class="mt-0"><u><%= note.title %></u></h5>
      <h6 class="mt-1"><%= note.author.username %></h6>

      <p class="mt-4"><%= note.body %></p>
    </div>
  </div>

  <div class="col-8 offset-2 mt-5">
    <ul class="list-unstyled">
      <% note.comments.forEach(comment => { %>
      <li class="media border mb-1 d-flex flex-column p-2">
        <div class="d-flex w-100">
          <% if (comment.author.avatar) { %>
          <img
            src="data:image/png;base64,<%= comment.author.avatar.toString('base64') %>"
            height="50px"
            class="mr-3 border"
            alt="profile img"
          />

          <% } else { %>
          <img
            src="/images/default-logo.png"
            height="50px"
            width="50px"
            class="mr-3 border"
            alt="profile img"
          />
          <% } %>

          <div class="media-body d-flex align-items-center">
            <div class="flex-grow-1">
              <p class="mt-1 mb-1"><u><%= comment.author.username %></u></p>
              <%= comment.body %>
            </div>
            <div class="p-2">
              <a href="/comments/like/<%= comment.id %>">
                <i id="likeComment" class="far fa-thumbs-up"></i>
              </a>
              <%= comment.likes.length %>
            </div>
            <% if (comment.author.id === user.id) { %>
            <form
              action="/comments/<%= comment._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn">
                <i class="fas fa-trash"></i>
              </button>
            </form>

            <% } %>
          </div>
        </div>
        <% comment.comments.forEach(comment => { %>
          <div class="media mt-3 w-75 mb-0 align-self-center">
            <a class="pr-3" href="#">
              <img
                src="data:image/png;base64,<%= comment.author.avatar.toString('base64') %>"
                alt="Generic placeholder image"
                height="50px"
              />
            </a>
            <div class="media-body">
              <p class="mt-0 mb-0"><u><%= comment.author.username %></u></p>
              <%= comment.body %>
            </div>
            </div>

        <% }) %>
          <form class="w-75 align-self-center mt-0" action="/comments/addSubComment/<%= comment._id %>" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput"></label>
              <input
                class="form-control"
                name="body"
                id="exampleFormControlInput"
                placeholder="reply.."
              />
            </div>
          </form>
      </li>

      <% }) %>
    </ul>
    <h5 class="border-bottom">Comments (<%= note.comments.length%>)</h5>
    <form action="/comments/<%= note._id %>" method="POST">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea
          class="form-control"
          name="body"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Leave a comment..."
        ></textarea>
      </div>
      <button class="btn btn-dark" type="submit">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
